/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/07/2020, 03:58:57 PM
    Author     : Saed
*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: #f8f8f8;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    color: #fff;
}

.page-container {
    height: 670px;
    margin: 0;
    padding: 0;
}


/*navbar-------------------------------------*/

.navbar {
    height: 76px;
    background: rgba(45, 45, 45, .15);
}

h1 {
    width: 15%;
    padding: 1.5%;
    font-size: 35px;
    font-weight: 750;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}

.menu {
    margin-top: 11px;
    width: 35%;
    height: 74px;
    float: right;
}

div h3 {
    padding-bottom: 25px;
    height: 20px;
    margin-top: 2.5%;
    margin-left: 2.5%;
    padding: 4px;
    font-size: 20px;
    font-weight: 750;
    display: inline-block;
    width: 30%;
    border-style: solid 6px;
    font-family: 'Zilla Slab', serif;
    border-left: 1.3px solid whitesmoke;
}


/*Container------------------------------------------------*/

.content {
    margin-left: 5%;
    height: 87%;
    width: 90%;
}

.footer {
    margin-top: 41.5%;
    text-align: center;
    height: 12%;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

.footer a {
    display: inline-block;
    width: 32px;
    height: 35px;
    margin-top: 15px;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.footer a.informacion {
    background: url(../img/informacion.png) center center no-repeat;
}

.footer a.lapiz {
    background: url(../img/lapiz.png) center center no-repeat;
}

.footer a:hover {
    background-position: center bottom;
}

.derechosautor {
    font-size: 0.01px;
}


/* OTROS  ------------------------------------------------*/

input {
    width: 270px;
    height: 42px;
    margin-top: 25px;
    padding: 0 15px;
    background: #2d2d2d;
    /* browsers that don't support rgba */
    background: rgba(45, 45, 45, .15);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #3d3d3d;
    /* browsers that don't support rgba */
    border: 1px solid rgba(255, 255, 255, .15);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

input:-moz-placeholder {
    color: #fff;
}

input:-ms-input-placeholder {
    color: #fff;
}

input::-webkit-input-placeholder {
    color: #fff;
}

input:focus {
    outline: none;
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
}

button {
    cursor: pointer;
    width: 300px;
    height: 44px;
    margin-top: 25px;
    padding: 0;
    background: #ef4300;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ff730e;
    -moz-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .25) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .25) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .25) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

button:hover {
    -moz-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .15) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .15) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .15) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
}

button:active {
    -moz-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .15) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .15) inset, 0 2px 7px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .1) inset, 0 1px 4px 0 rgba(0, 0, 0, .1);
    border: 0px solid #ef4300;
}

.error {
    display: none;
    position: absolute;
    top: 27px;
    right: -55px;
    width: 40px;
    height: 40px;
    background: #2d2d2d;
    /* browsers that don't support rgba */
    background: rgba(45, 45, 45, .25);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.error span {
    display: inline-block;
    margin-left: 2px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

